* {
	font-family: 'Raleway', sans-serif !important;
	font-weight: 400;
	font-size: 17px;
	color: black;
}

a{
	color:#e4432d;
}

#up-logo {
	padding-top: 10px;
	padding-bottom: 20px;
}

.navbar .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar .navbar-toggle {
	border-color: black;
}

.navbar{
	background-color: #20549d !important;
}

.navbar li.dropdown > a:hover, .navbar li.dropdown.open > a {
	background-color: #4180d8 !important;
}

.navbar li.dropdown.open ul li a:hover {
	background-color: #4180d8 !important;
}

.navbar .dropdown-menu {
	background-color: #20549d !important;
}

.navbar a {
	color: white !important;
	font-weight: 400;
}

.navbar a > span {
	color: white !important;
}

.navbar .active > a, .navbar .active > a:hover {
	background-color: #4180d8 !important;
}

#main {
	padding-left: 10px;
	padding-right: 10px;
}

#main > section {
	width: 80%;
	margin-left: 10%;
	margin-bottom: 10%;
}

#currLocation {
	background-color: rgba(245,175,0, 0.4);
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	margin-bottom: 20px;
	border-radius: 2px;
}

#currLocation > h1 {
	font-weight: 400;
	font-size: 35px;
	padding: 0;
	margin: 0;
	display: inline-block;
}

.marginBottom {
	margin-bottom: 20px !important;
}

.marginLeft {
	margin-left: 20px;
}
