body {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}


.center-form{
	width:50%;
	position: relative;
	left: 50%;
	padding-top: 20px;
	/*transform: translate(-50%);*/
	margin-left:-25%;
}

a{
	color:#e4432d;
}
#result{
    background-color: #e4432d;
    color: white;   
}