body {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

#heading{
	font-weight: 100;
	font-size: 30px;
}

form{
	width:65%;
	position: fixed;
	left: 50%;
	padding-top: 20px;

	transform: translate(-50%);
}
a{
	color:#e4432d;
}
#search{
    left: 25%;
}