<img src="http://www.up.ac.za/themes/up/img/up-logo.jpg" alt="UP Logo" id="up-logo">
<div style="border: 1px solid black;">
	<h3>Nav Bar Space</h3>
	<ul>
	    {{#each model as |page|}}
	        <li>
	            {{page.name}}
	        </li>
					<ul>
							{{#each page.sub as |sub|}}
								<li>
									{{sub.name}}
								</li>
							{{/each}}
					</ul>
	    {{/each}}
	</ul>
</div>
<div id="main">
	{{outlet}}
</div>
