<header id="currLocation">
	You are here - <a href="/">home</a>-&gt;<a href="/reports">reports</a>-&gt;<a href="/reports/query">query</a><br>
	<h1>Query Report</h1>
</header>
<section id="mainQuery">
	<form role="form" action="/reports/view">
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">Publication </span>
			<input type="text" class="form-control" placeholder="type" aria-describedby="basic-addon1">
		</div>

		<br>
		<br>

		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">Entity</span>
			<input type="text" class="form-control" placeholder="person or group" aria-describedby="basic-addon1">
		</div>

		<br>
		<br>

		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				Select lifecycle states <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a href="/reports/query">inProgress</a></li>
				<li><a href="/reports/query">Submitted</a></li>
				<li><a href="/reports/query">Accepted</a></li>
				<li><a href="/reports/query">InRevision</a></li>
				<li><a href="/reports/query">Abandoned</a></li>
			</ul>

		</div>

		<br>
		<br>
		<br>
		<br>

		<button type="submit" class="btn btn-danger marginBottom">Generate Report</button>
	</form>

</section>
