<header id="currLocation">
    You are here - <a href="/">home</a>-&gt;<a href="/people">people</a>-&gt;<a href="/people/addresearch">add-research</a><br>
    <h1>Add Research Group</h1>
</header>
<!-- {{render "import"}} -->
